@import 'colors';

label { font-weight: 700; }

.bs-switch input:checked + .slider {
  background-color: $success-color;
}

textarea.form-control {
  height: 110px !important;
}

[contenteditable='true']:focus {
  outline: none;
}
