.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $offset-grey-color;
  transition: $default-anim;

  &:last-of-type { border-bottom: none; }

  &.inactive {
    color: $mid-grey-color;

    & * {
      opacity: .5;
      transition: $default-anim;
    }

    &:hover * { opacity: 1; }
  }

  &.action-item:hover {
    background: linear-gradient(to top, rgba(0,0,0, .01), transparent);
    cursor: pointer;

    &:last-of-type { background: linear-gradient(to bottom, rgba(0,0,0, .01), transparent); }
    i { opacity: .5; }
  }

  .photo {
    flex-shrink: 0;
    width: 42px;
    height: 42px;
    margin-right: 20px;
    margin-left: 5px;
    border-radius: 21px;
    overflow: hidden;
    pointer-events: none;
  }

  .title {
    font-weight: 700;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
  }

  .trigger { flex-shrink: 0; }
}
