.list {
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $offset-grey-color;
  transition: $default-anim;

  &:last-of-type { border-bottom: none; }

  &.inactive {
    color: $mid-grey-color;

    & * {
      opacity: .5;
      transition: $default-anim;
    }

    &:hover * { opacity: 1; }
  }
}
