.modal {
  background: rgba(0,0,0, .4);
  pointer-events: none;
}

.modal-open {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .modal.show {
    display: initial;
    min-width: 320px;
    opacity: 1;
  }
}

.modal-header {
  background-color: rgba(0,0,0, .03);
  user-select: none;

  .close { outline: none; }
}

.modal-body {
  max-height: 50vh;
  overflow: scroll;
}

.modal-title { font-weight: 700; }
