@import 'variables';
@import url('//fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Source+Sans+Pro');

h1, h2 {
  font-family: $font-montserrat;
  font-weight: 700;
  cursor: default;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;

  @media (min-width: $md-screen) {
    font-size: 1.75rem;
    line-height: 2;
  }

  @media (min-width: $lg-screen) {
    font-size: 2rem;
    line-height: 1.2;
  }
}

h3.heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $offset-grey-color;

  @media (min-width: $md-screen) {
    margin-top: 0;
  }
}
