@import '../../../styles/colors';
@import '../../../styles/typography';

footer {
  flex-shrink: 0;
  height: 60px;
  font-family: $font-roboto-slab;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  user-select: none;

  @media (min-width: $md-screen) {
    height: 80px;
    margin-top: 20px;
  }

  .icon {
    position: relative;
    top: 1px;
    font-size: 18px;
  }
}
