<div
  class="score"
  [class.text-success]="voteService.polls[beer.id] && voteService.polls[beer.id][uid] && voteService.polls[beer.id][uid].vote === true"
  [class.text-danger]="voteService.polls[beer.id] && voteService.polls[beer.id][uid] && voteService.polls[beer.id][uid].vote === false"
  *ngIf="voteService.counts[beer.id.toString()]">
    <span *ngIf="!voteService.scores[beer.id] || voteService.scores[beer.id] === 0">-</span>
    <span *ngIf="voteService.scores[beer.id] !== 0">
      {{ voteService.scores[beer.id] > 0 ? '+' : null }}{{ voteService.scores[beer.id] }}
    </span>
    <span class="total-votes-divider ml-1 mr-1 grey-text">/</span>
    <span
      class="total-votes grey-text"
      *ngIf="voteService.counts[beer.id]">{{ voteService.counts[beer.id] }}</span>
</div>
<div
  class="score-card-trigger"
  *ngIf="isLoggedIn && voteService.voters[beer.id.toString()].length">
  <span class="label">See Votes</span>
</div>
<ul
  class="score-card"
  *ngIf="isLoggedIn && voteService.voters[beer.id.toString()].length">
  <li *ngFor="let voter of voteService.voters[beer.id]">
    {{ voter.name }}
    <i
      class="fa fa-thumbs-up text-success ml-1 mr-2"
      *ngIf="voter.vote"></i>
    <i
      class="fa fa-thumbs-down text-danger ml-1 mr-2"
      *ngIf="!voter.vote"></i>
  </li>
</ul>
<div
  class="score no-votes"
  *ngIf="!voteService.counts[beer.id.toString()]">-</div>
<div class="image text-center">
  <img
    [class.default]="!beer.image"
    [src]="beer.image || '/assets/img/bottle.png'">
</div>
<div class="info">
  <h6 class="title m-0 mb-lg-2">{{ beer.title }}</h6>
  <p class="m-0">
    <small>{{ beer.description }}</small>
  </p>
</div>
<div
  class="vote"
  *ngIf="isLoggedIn && !voteService.isLoading; else isStatic">
  <div class="vote-wrapper tooltip">
    <div
      class="tooltip-text tooltip-text-undo"
      *ngIf="voteService.polls[beer.id] && voteService.polls[beer.id][uid]">Undo vote</div>
    <div
      class="tooltip-text"
      *ngIf="!voteService.polls[beer.id][uid] && voteService.userVoteCount === voteService.userVoteMax">No votes left</div>
    <div
      class="levers"
      [class.has-vote]="voteService.polls[beer.id][uid]"
      [class.max-votes]="voteService.userVoteCount === voteService.userVoteMax"
      (click)="voteService.polls[beer.id][uid] ? undoVote($event, beer.id) : null"
      *ngIf="voteService.polls[beer.id]">
      <i
        class="fa fa-thumbs-up"
        [class.text-success]="!voteService.polls[beer.id][uid] || voteService.polls[beer.id][uid].vote === true"
        [class.disabled]="voteService.polls[beer.id][uid] && voteService.polls[beer.id][uid].vote === false"
        [class.selected]="voteService.polls[beer.id][uid] && voteService.polls[beer.id][uid].vote === true"
        (click)="castVote(beer.id, true)"></i>
      <i
        class="fa fa-thumbs-down"
        [class.text-danger]="!voteService.polls[beer.id][uid] || voteService.polls[beer.id][uid].vote === false"
        [class.disabled]="voteService.polls[beer.id][uid] && voteService.polls[beer.id][uid].vote === true"
        [class.selected]="voteService.polls[beer.id][uid] && voteService.polls[beer.id][uid].vote === false"
        (click)="castVote(beer.id, false)"></i>
    </div>
  </div>
</div>
<ng-template #isStatic>
  <div class="vote static">
    <div class="vote-wrapper tooltip">
      <div class="tooltip-text">Login to vote</div>
      <div class="levers">
        <i class="fa fa-thumbs-up"></i>
        <i class="fa fa-thumbs-down"></i>
      </div>
    </div>
  </div>
</ng-template>
<div class="vote-menu-bg"></div>
