<div
  class="score"
  *ngIf="voteService.counts[beer.id.toString()]">
    <span *ngIf="!voteService.scores[beer.id] || voteService.scores[beer.id] === 0">-</span>
    <span *ngIf="voteService.scores[beer.id] !== 0">
      {{ voteService.scores[beer.id] > 0 ? '+' : null }}{{ voteService.scores[beer.id] }}
    </span>
    <span class="total-votes-divider ml-1 mr-1 grey-text">/</span>
    <span
      class="total-votes grey-text"
      *ngIf="voteService.counts[beer.id]">{{ voteService.counts[beer.id] }}</span>
    <div
      class="score-card"
      *ngIf="voteService.voters && voteService.voters[beer.id] !== 0">
      <div *ngFor="let vote of voteService.voters[beer.id]">
        {{vote}}
      </div>
    </div>
</div>
<div
  class="score no-votes"
  *ngIf="!voteService.counts[beer.id.toString()]">-</div>
<div class="image text-center">
  <img
    [class.default]="!beer.image"
    [src]="beer.image || '/assets/img/bottle.png'">
</div>
<div class="info">
  <h6 class="title m-0 mb-lg-2">{{ beer.title }}</h6>
  <p class="m-0">
    <small>{{ beer.description }}</small>
  </p>
</div>
<div
  class="vote"
  *ngIf="(auth.user | async) as user; else isStatic">
  <div
    class="vote-wrapper"
    *ngIf="voteService.polls">
    <div
      class="undo"
      [class.up-vote]="voteService.polls[beer.id][user.uid].vote"
      [class.down-vote]="voteService.polls[beer.id][user.uid].vote === false"
      (click)="undoVote(beer.id, user.uid)"
      *ngIf="voteService.polls[beer.id] && voteService.polls[beer.id][user.uid] !== undefined">
        <span class="label">Undo</span>
        <span
          class="up-vote"
          *ngIf="voteService.polls[beer.id][user.uid].vote">
            <i class="fa fa-thumbs-up"></i>
        </span>
        <span
          class="down-vote"
          *ngIf="voteService.polls[beer.id][user.uid].vote === false">
            <i class="fa fa-thumbs-down"></i>
        </span>
    </div>
    <div
      class="levers"
      [class.disabled]="voteService.getVoteCount(user.uid) === voteService.voteMax"
      *ngIf="voteService.polls[beer.id] === undefined || voteService.polls[beer.id][user.uid] === undefined">
      <i
        class="fa fa-thumbs-up text-success"
        (click)="voteService.castVote(beer.id, user.email, user.uid, true)"></i>
      <i
        class="fa fa-thumbs-down text-danger"
        (click)="voteService.castVote(beer.id, user.email, user.uid, false)"></i>
    </div>
  </div>
</div>
<ng-template #isStatic>
  <div class="vote disabled grey-text">
    <div class="levers">
      <i class="fa fa-thumbs-up"></i>
      <i class="fa fa-thumbs-down"></i>
    </div>
  </div>
</ng-template>
<div class="vote-menu-bg"></div>
