<div class="mt-4 mt-md-2 pr-3 pl-3 pb-3 pr-sm-0 pl-sm-0">
  <h3>Users</h3>
  <hr>
  <div *ngIf="!profileService.isLoading; else showLoading">
    <ul *ngIf="profileService.userProfiles">
      <li *ngFor="let uid of profileService.userIndex | SortUserPipe: profileService.userProfiles : 'desc'">
        <strong>{{ profileService.userProfiles[uid].email }}</strong>
        (Last Login: {{ profileService.userProfiles[uid].lastLogin.toDate() | date: 'h:mm:ss a - MM/dd/yyyy' }})
      </li>
    </ul>
    <div *ngIf="!profileService.userProfiles">No Users</div>
  </div>
  <!-- Loading -->
  <ng-template #showLoading>
    <div class="loading-spinner mt-4">
      <i class="fa fa-refresh"></i>
    </div>
  </ng-template>
</div>
