<div class="mt-4 mt-md-2 pr-3 pl-3 pb-3 pr-sm-0 pl-sm-0">
  <h3>
    Users
    <span *ngIf="adminService.users.length">({{ adminService.users.length }})</span>
  </h3>
  <hr>
  <div *ngIf="!adminService.isLoading; else showLoading">
    <ul *ngIf="adminService.users">
      <li
        class="mb-3"
        *ngFor="let user of adminService.users | SortUserPipe: 'desc'">
        <strong>{{ user.email }}</strong><br>
        <small>
          <span>Last Login: {{ user.lastLogin.toDate() | date: 'h:mm:ss a - MM/dd/yyyy' }}</span><br>
          <span>Last Active: {{ user.lastActive.toDate() | date: 'h:mm:ss a - MM/dd/yyyy' }}</span>
        </small>
      </li>
    </ul>
    <div *ngIf="!adminService.users">No Users</div>
  </div>
  <!-- Loading -->
  <ng-template #showLoading>
    <div class="loading-spinner mt-4">
      <i class="fa fa-refresh"></i>
    </div>
  </ng-template>
</div>
