<div class="mt-4 mt-md-2 pr-3 pl-3 pb-3 pr-sm-0 pl-sm-0">
  <h3 class="heading">
    Beers ({{ beersService.beerCount() || 0 }})
    <button
      type="button"
      class="btn btn-sm btn-primary shadow-none m-0 ml-auto mr-2"
      (click)="showCreateBeerModal()">
      <i class="fa fa-plus mr-1"></i> Add New Beer
    </button>
  </h3>
  <div *ngIf="!beersService.isLoading; else showLoading">
    <ul
      class="list"
      *ngIf="beersService.beerCount()">
      <li
        app-beer-item
        class="list-item action-item pt-3 pb-3"
        [class.inactive]="!beer.value.isActive"
        [beer]="beer.value"
        (click)="showEditBeerModal(beer.value.id)"
        (removeBeer)="showRemoveBeerModal($event)"
        (restoreBeer)="restoreBeer($event)"
        *ngFor="let beer of beersService.beers | keyvalue"></li>
    </ul>
    <div *ngIf="!beersService.beerCount()">No Beers On Tap!</div>
  </div>
</div>

<!-- Loading -->
<ng-template #showLoading>
  <div class="loading-spinner mt-4">
    <i class="fa fa-refresh"></i>
  </div>
</ng-template>

<!-- Create / Edit Beer -->
<div [class.modal-open]="isCreateModalActive || isEditModalActive">
  <div
    class="modal fade"
    [class.show]="isCreateModalActive || isEditModalActive"
    id="editBeerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="editBeerModal"
    aria-hidden="true">
    <div role="document" class="modal-dialog modal-notify">
      <div class="modal-content">
        <div class="modal-header modal-header-feature">
          <div class="avatar">
            <button
              class="btn btn-sm btn-light shadow-none"
              tabindex="1"
              (click)="openImageUpload($event)"
              *ngIf="!isImageUploadActive">
                {{ beersService.activeBeer.image ? 'Edit' : 'Add' }} Image
            </button>
            <input
              id="changeImage"
              type="file"
              (change)="uploadImage($event.target.files)" />
            <div
              class="progress-indicator"
              *ngIf="imageUploadPercentage | async as percent">
              <div
                class="progress"
                *ngIf="percent < 100">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="percent"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [style.width]="percent + '%'"></div>
              </div>
              <span *ngIf="percent < 100">{{ percent | number: '1.0-0' }}%</span>
              <span
                class="text-success"
                *ngIf="isImageUploadActive && percent === 100">
                  <i class="fa fa-check-circle mr-1"></i> Ready
              </span>
            </div>
            <img [src]="image || beersService.activeBeer.image || '/assets/img/bottle.png'">
          </div>
          <h5
            id="active-beer-title"
            class="modal-title"
            contenteditable="true"
            tabindex="2"
            [innerHTML]="beersService.activeBeer.title || defaultTitle"
            (keyup)="validateBeerTitle($event.target.textContent)"></h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="hideModals()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pt-4 pr-4 pl-4 pb-0">
          <p
            id="active-beer-description"
            class="pt-2 pb-3"
            contenteditable="true"
            tabindex="3"
            [innerHTML]="beersService.activeBeer.description || defaultDescription"
            (keyup)="validateBeerDescription($event.target.textContent)"></p>
        </div>
        <div class="modal-footer p-2">
          <small
            class="activator d-none ml-2 mr-auto text-danger"
            [class.d-sm-inline]="isEditModalActive"
            (click)="beersService.activeBeer.isActive ? showRemoveBeerModal() : restoreBeer()">
            <i
              class="fa mr-1"
              [class.fa-trash]="beersService.activeBeer.isActive"
              [class.fa-undo]="!beersService.activeBeer.isActive"></i>
            {{ beersService.activeBeer.isActive ? 'Remove' : 'Restore' }}
          </small>
          <small
            class="d-none d-sm-inline ml-2 mr-auto text-light"
            *ngIf="isCreateModalActive">
            <strong>Click items to make changes</strong>
          </small>
          <button
            class="btn btn-sm btn-grey mr-2"
            data-dismiss="modal"
            tabindex="4"
            (click)="hideModals()">Close</button>
          <button
            class="btn btn-sm btn-primary mr-2"
            tabindex="5"
            [disabled]="!canUpdate"
            (click)="editBeer()"
            *ngIf="isEditModalActive">Save</button>
          <button
            class="btn btn-sm btn-primary"
            tabindex="5"
            [disabled]="!canCreate"
            (click)="createBeer()"
            *ngIf="!isEditModalActive">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Remove Beer -->
<div [class.modal-open]="isRemoveModalActive">
  <div
    class="modal fade"
    [class.show]="isRemoveModalActive"
    id="removeBeerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="removeBeerModal"
    aria-hidden="true">
    <div role="document" class="modal-dialog modal-sm modal-notify modal-danger mt-3">
      <div class="modal-content text-center">
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">Are you sure?</p>
        </div>
        <div class="modal-body">
          <i class="fa fa-times fa-4x animated rotateIn"></i>
        </div>
        <div class="modal-footer flex-center p-2">
          <button
            type="button"
            class="btn btn-sm btn-danger mr-2"
            (click)="removeBeer()">Yes</button>
          <button
            type="button"
            class="btn btn-sm btn-grey waves-effect"
            data-dismiss="modal"
            (click)="hideRemoveModal()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
