<div class="mt-4 mt-md-2 pr-3 pl-3 pb-3 pr-sm-0 pl-sm-0">
  <h3>
    Beers
    <button
        type="button"
        class="btn btn-sm btn-success shadow-none m-0 ml-auto mr-2"
        (click)="showCreateBeerModal()">
        <i class="fa fa-plus mr-1"></i> Add New Beer</button>
  </h3>
  <hr>
  <div *ngIf="!isLoading; else showLoading">
    <div *ngIf="beers?.length">
      <ul class="beers">
        <li
          class="mb-2 pt-2 pb-3"
          [class.inactive]="!beer.isActive"
          *ngFor="let beer of beers; let i = index">
          <strong>{{ beer.title }} {{ beer.isActive ? '' : '(Inactive)'}}</strong>
          <button
            type="button"
            class="btn btn-sm btn-primary shadow-none mt-1 mb-1 mr-2 ml-auto"
            [class.d-none]="!beer.isActive"
            (click)="showEditBeerModal(i)">
            <i class="fa fa-edit mr-1"></i> Edit</button>
          <button
            type="button"
            class="btn btn-sm btn-danger shadow-none mt-1 mb-1 mr-2 ml-2"
            [class.d-none]="!beer.isActive"
            (click)="showRemoveBeerModal(i)">
            <i class="fa fa-remove mr-1"></i> Remove</button>
          <button
            type="button"
            class="btn btn-sm btn-warning shadow-none mt-1 mb-1 mr-2 ml-auto"
            [class.d-none]="beer.isActive"
            (click)="restoreBeer(i)">
            <i class="fa fa-undo mr-1"></i> Restore</button>
        </li>
      </ul>
    </div>
    <div *ngIf="!beers.length">No Beers On Tap!</div>
  </div>
</div>

<!-- Loading -->
<ng-template #showLoading>
  <div class="loading-spinner mt-4">
    <i class="fa fa-refresh"></i>
  </div>
</ng-template>

<!-- Modals -->
<div
  [class.modal-open]="isCreateModalActive || isEditModalActive || isRemoveModalActive"
  (click)="hideModals()">

  <!-- Create / Edit Beer -->
  <div
    class="modal fade"
    [class.show]="isCreateModalActive || isEditModalActive"
    id="editBeerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="editBeerModal"
    aria-hidden="true">
    <div
      role="document"
      class="modal-dialog modal-notify"
      (click)="stopPropagation($event)">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ isEditModalActive ? 'Edit' : 'New' }} Beer</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="hideModals()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="beersForm">
          <div class="modal-body pt-4 pr-4 pl-4 pb-0">
            <input
              type="text"
              name="title"
              class="form-control"
              [class.mb-4]="!formErrors.title"
              placeholder="Beer Title"
              formControlName="title">
            <div *ngIf="formErrors.title" class="text-danger p-2 pb-3">{{ formErrors.title }}</div>
            <textarea
              type="text"
              name="description"
              class="form-control"
              [class.mb-5]="!formErrors.description"
              placeholder="Beer Description"
              formControlName="description"></textarea>
            <div *ngIf="formErrors.description" class="text-danger p-2 pb-3">{{ formErrors.description }}</div>
          </div>
          <div class="modal-footer p-2">
            <button
              type="button"
              class="btn btn-sm btn-grey mr-2"
              data-dismiss="modal"
              (click)="hideModals()">Cancel</button>
            <button
              type="button"
              *ngIf="isEditModalActive"
              (click)="editBeer()"
              [disabled]="!beersForm.valid"
              class="btn btn-sm btn-success mr-2">Save</button>
            <button
              type="button"
              *ngIf="!isEditModalActive"
              (click)="createBeer()"
              [disabled]="!beersForm.valid"
              class="btn btn-sm btn-success">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Remove Beer -->
  <div
    class="modal fade"
    [class.show]="isRemoveModalActive && !isCreateModalActive && !isEditModalActive"
    id="removeBeerModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="removeBeerModal"
    aria-hidden="true">
    <div
      role="document"
      class="modal-dialog modal-sm modal-notify modal-danger"
      (click)="stopPropagation($event)">
      <div class="modal-content text-center">
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">Are you sure?</p>
        </div>
        <div class="modal-body">
          <i class="fa fa-times fa-4x animated rotateIn"></i>
        </div>
        <div class="modal-footer flex-center p-2">
          <button
            type="button"
            class="btn btn-sm btn-danger mr-2"
            (click)="removeBeer()">Yes</button>
          <button
            type="button"
            class="btn btn-sm btn-grey waves-effect"
            data-dismiss="modal"
            (click)="hideModals()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
