<div class="card">
  <div class="card-body p-0">
    <div
      class="beers"
      *ngIf="!voteService.isLoading && !beersService.isLoading; else showLoading">
      <ul
        *ngIf="beersService.hasBeers()">
        <li
          app-vote-item
          [beer]="beer.value"
          *ngFor="let beer of beersService.beers | keyvalue | activeItemsPipe"></li>
        <li
          class="blank"
          *ngIf="beersService.activeBeerCount() % 2 !== 0"></li>
      </ul>
      <h3
        class="text-center mt-5 mb-5"
        *ngIf="!beersService.hasBeers()">No Beers On Tap... 😬</h3>
    </div>

    <ng-template #showLoading>
      <div class="loading-spinner mt-4">
        <i class="fa fa-refresh"></i>
      </div>
    </ng-template>

    <div class="bottom">
      <span *ngIf="(auth.user | async) as user; else isOffline">
        <span
          *ngIf="voteService.getVoteCount(user.uid) < voteService.voteMax">
            {{ voteService.voteMax - voteService.getVoteCount(user.uid) }}
            vote{{ voteService.voteMax - voteService.getVoteCount(user.uid) !== 1 ? 's' : null }} left
        </span>
        <span
          *ngIf="voteService.getVoteCount(user.uid) === voteService.voteMax">You've used all your votes, Cheers! 🍻</span>
      </span>
      <ng-template #isOffline>
        <span>Login with your LightSpeedVT email to vote</span>
      </ng-template>
    </div>
  </div>
</div>
