<div class="card">
  <div class="card-header text-center">LightSpeedVT Beers</div>
  <div class="card-body p-0">

    <div
      class="beers"
      *ngIf="!beersService.isLoading; else showLoading">
      <ul
        *ngIf="beersService.hasBeers()">
        <ng-container *ngFor="let beer of beersService.beers | keyvalue">
          <li *ngIf="beer.value.isActive">
            <div class="score">+20</div>
            <img [src]="beer.value.image || 'https://drizly-products1.imgix.net/ci_2822.jpg'">
            <div class="info">
              <h6 class="title m-0">{{ beer.value.title }}</h6>
              <p class="m-0">
                <small>{{ beer.value.description }}</small>
              </p>
            </div>
            <div class="vote">
              <i class="fa fa-thumbs-up"></i>
              <i class="fa fa-thumbs-down"></i>
            </div>
          </li>
        </ng-container>
      </ul>
      <h3
        class="text-center mt-5 mb-5"
        *ngIf="!beersService.hasBeers()">No Beers On Tap... 😬</h3>
    </div>

    <ng-template #showLoading>
      <div class="loading-spinner mt-4">
        <i class="fa fa-refresh"></i>
      </div>
    </ng-template>

    <div class="bottom">
      <span *ngIf="auth.isLoggedIn()">You have 6 beer votes to go...</span>
      <span *ngIf="!auth.isLoggedIn()">You must have a LightSpeedVT account to vote</span>
    </div>

  </div>
</div>
