<div class="card">
  <div class="card-header text-center">LightSpeedVT Beers</div>
  <div class="card-body p-0">

    <div
      class="beers"
      *ngIf="!(isLoading | async); else showLoading">
      <ul *ngIf="beers?.length">
        <li *ngFor="let beer of beers">
          <div *ngIf="beer.isActive">
            <div class="score">+20</div>
            <img src="https://drizly-products1.imgix.net/ci_2822.jpg">
            <div class="info">
              <h6 class="title m-0">{{ beer.title }}</h6>
              <p class="m-0">
                <small>{{ beer.description }}</small>
              </p>
            </div>
            <div class="vote">
              <i class="fa fa-thumbs-up"></i>
              <i class="fa fa-thumbs-down"></i>
            </div>
          </div>
        </li>
      </ul>
      <h3
        class="text-center"
        *ngIf="!beers.length">No Beers On Tap... 😬</h3>
    </div>

    <ng-template #showLoading>
      <div class="loading-spinner mt-4">
        <i class="fa fa-refresh"></i>
      </div>
    </ng-template>

    <div class="bottom">
      <span *ngIf="user?.isActive">You have 6 votes remaining</span>
      <span *ngIf="!user?.isActive">You must have a LightSpeedVT account to vote</span>
    </div>

  </div>
</div>

